
body {
    background-image: url(background.fb95baea.png);
}

._col-1_194qy_11, ._col-2_194qy_11, ._col-3_194qy_11, ._col-4_194qy_11, ._col-5_194qy_11, ._col-6_194qy_11, ._col-7_194qy_11, ._col-8_194qy_11, ._col-9_194qy_11, ._col-10_194qy_11, ._col-11_194qy_11, ._col-12_194qy_11, ._col_194qy_11, ._col-auto_194qy_11, ._col-sm-1_194qy_11, ._col-sm-2_194qy_11, ._col-sm-3_194qy_11, ._col-sm-4_194qy_11, ._col-sm-5_194qy_11, ._col-sm-6_194qy_11, ._col-sm-7_194qy_11, ._col-sm-8_194qy_11, ._col-sm-9_194qy_11, ._col-sm-10_194qy_11, ._col-sm-11_194qy_11, ._col-sm-12_194qy_11, ._col-sm_194qy_11, ._col-sm-auto_194qy_11, ._col-md-1_194qy_11, ._col-md-2_194qy_11, ._col-md-3_194qy_11, ._col-md-4_194qy_11, ._col-md-5_194qy_11, ._col-md-6_194qy_11, ._col-md-7_194qy_11, ._col-md-8_194qy_11, ._col-md-9_194qy_11, ._col-md-10_194qy_11, ._col-md-11_194qy_11, ._col-md-12_194qy_11, ._col-md_194qy_11, ._col-md-auto_194qy_11, ._col-lg-1_194qy_11, ._col-lg-2_194qy_11, ._col-lg-3_194qy_11, ._col-lg-4_194qy_11, ._col-lg-5_194qy_11, ._col-lg-6_194qy_11, ._col-lg-7_194qy_11, ._col-lg-8_194qy_11, ._col-lg-9_194qy_11, ._col-lg-10_194qy_11, ._col-lg-11_194qy_11, ._col-lg-12_194qy_11, ._col-lg_194qy_11, ._col-lg-auto_194qy_11, ._col-xl-1_194qy_11, ._col-xl-2_194qy_11, ._col-xl-3_194qy_11, ._col-xl-4_194qy_11, ._col-xl-5_194qy_11, ._col-xl-6_194qy_11, ._col-xl-7_194qy_11, ._col-xl-8_194qy_11, ._col-xl-9_194qy_11, ._col-xl-10_194qy_11, ._col-xl-11_194qy_11, ._col-xl-12_194qy_11, ._col-xl_194qy_11, ._col-xl-auto_194qy_11 {
    padding-left: 5px;
    padding-right: 5px;
}

._main_container_194qy_21 {
    padding-top: 10px;
}

._x_content_194qy_29 iframe {
    width: 100%;
    height: 900px;
    overflow-y: hidden;
    border: 0;
}

._x_panel_194qy_43 ._x_title_194qy_43 {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-bottom: 5px;
}

._x_panel_194qy_43 ._x_title_194qy_43 h1 {
    font-size: 1.5vw;
    letter-spacing: 0.1vm;
    color: white;
    display: block;
}

@media (min-width: 350px) and (max-width: 580px) {
    ._container_194qy_73 {
        max-width: 580px;
    }

    ._x_panel_194qy_43 ._x_title_194qy_43 h1 {
        font-size: 5vw;
    }
}

@media (min-width: 1200px) {
    ._container_194qy_73 {
        max-width: 1900px;
    }
}

@media (min-width: 1900px) {
    ._container_194qy_73 {
        max-width: 4096px;
    }
}


._edit-bar_194qy_117 {
    position: fixed;
    right: 15px;
    cursor: pointer;
    z-index: 9999;
}

._edit-board_194qy_131, ._close-link_194qy_131 {
    color: white !important;
    text-decoration: underline !important;
    cursor: pointer;

}

._add-widget-link_194qy_145 {
    color: white !important;
}

._add-widget-button_194qy_153 {
    z-index: 99;
    position: relative;
}

._panel_toolbox_194qy_163 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

._modal-header_194qy_171 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

._x_title_194qy_43 ._close_194qy_131 {
    color: white !important;
}

._panel-loader_194qy_187 {
    text-align: center;
}